/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fa {
  margin-right: 5px;
}
table {
  width: 100%;

}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.w-1{
  width: 5%;
}
.w-action{
  width: 100%;
}
