$main-font: 'Inter', sans-serif;
$blue-color: #1da1f2;
$blue-background-color: #d7f5f5;
$light-beige-background-color: #fbf8f3;
$yellow-border-color: #fce5be;
$grey-font-color: #828282;
$learn-more: #1f7898;
$blue-accent: #3180f5;

/* sizes */

$small: 360px;
$mobile: 640px;
$medium: 767px;
$large: 1400px;
