$black: #343838;
$violet: #6d06a2;
$easing: cubic-bezier(.6, .05, .28, .91);
* {
  box-sizing: border-box;

}

body {
  background-color: $black;
  font-size: 16px;
}

//#page-wrapper {
//  position: absolute;
//  top: 0;
//  right: 0;
//  width: 100%;
//  height: 100%;
//}

#title {
  color: #521994;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

#logo .logo {
  width: 8%;
  height: auto;
}

#logo {
  width: 8px;
  height: 8px;
  margin-left: 1.6rem;

}


#btn {
  position: fixed;
  z-index: 5;
  top: 30px;
  right: 15px;
  cursor: pointer;
  transition: right 500ms $easing;

  div {
    width: 35px;
    height: 2px;
    margin-bottom: 8px;
    background-color: $violet;
    transition: transform 500ms $easing, opacity 500ms, background-color 250ms;
  }
}

#btn.active {
  right: 130px;

  div {
    background-color: #660ca7;
  }

  #top {
    transform: translateY(10px) rotate(-135deg);
  }

  #middle {
    opacity: 0;
    transform: rotate(135deg);
  }

  #bottom {
    transform: translateY(-10px) rotate(-45deg);
  }
}

#box {
  position: fixed;
  z-index: 4;
  overflow: auto;
  top: 0px;
  right: -275px;
  width: 275px;
  opacity: 0;
  padding: 20px 0px;
  height: 100%;
  background-image: linear-gradient(to bottom,
    #f6f6ef, #e6eee5, #d3e5df, #c2dcdd, #b6d2dd, #a2c0d5,
    #93aecc, #8a9ac1, #6e7eae, #53629b, #3b4687, #232c73);
  color: $black;
  transition: all 350ms $easing;
}

#box.active {
  width: 200px;
  right: 0px;
  opacity: 1;
}


#items {
  position: relative;
  top: 40%;
  transform: translateY(-50%);

  .item {
    position: relative;
    cursor: pointer;
    font-size: 2em;
    padding: 15px 30px;
    transition: all 250ms;
    color: white;
    text-decoration: none;

    &:hover {
      padding: 15px 45px;
      background-color: transparentize(#ac76e3, .8);
    }
  }
}

#btn, #btn * {
  will-change: transform;
}

#box {
  will-change: transform, opacity;
}

.logo {
  width: 8%;
  height: auto;
}
