<div id="btn">
  <div id="top"></div>
  <div id="middle"></div>
  <div id="bottom"></div>
</div>
<div id="box">
  <div id="items">
    <div [routerLink]="['']" class="item">Home</div>
    <div *ngIf="user">
      <div [routerLink]="['/internships']" class="item">Internship</div>
      <div [routerLink]="['/candidate-add']" class="item">Candidates</div>
      <div [routerLink]="['/questions']" class="item">Questions</div>
      <div [routerLink]="['/profile']" class="item">Profile</div>
    </div>
    <div *ngIf="!user">
      <div [routerLink]="['/login']" class="item">Login</div>
    </div>
    <div *ngIf="user">
      <div (click)="logout()" class="item"><span></span>Logout</div>
    </div>
  </div>
</div>
