.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
  text-align: center;
}

.techquestionlist-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 400px;
  max-width: 600px;
}

mat-form-field {
  width: 250px;
}

button {
  margin: 2rem;
}
