<div class="form-container">
  <form (ngSubmit)="onSubmit()" [formGroup]="candidateForm" class="candidate-form">
    <legend><h1>Add candidate to internship</h1></legend>
    <br />
    <mat-form-field appearance="fill">
      <mat-label> Name</mat-label>
      <input formControlName="name" matInput type="text" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label> Surname</mat-label>
      <input formControlName="surname" matInput type="text" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label> Comment</mat-label>
      <input formControlName="comment" matInput />
    </mat-form-field>

    <input (change)="onFileSelected($event)" class="file-input"
           type="file">
    <br />

    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let option of statusOptions" [value]="option.value">
          {{option.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label> Email</mat-label>
      <input formControlName="email" matInput />
    </mat-form-field>
    <ng-container *ngIf="candidateStatusError">
      <h4 class="error-message">{{ validationErrors }}</h4>
    </ng-container>
    <button
      [disabled]="!candidateForm.valid"
      color="primary"
      mat-raised-button
      type="submit"
    >
      Submit
    </button>
  </form>
</div>
