<mat-dialog-content class="form-container">
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="candidateForm"
    class="candidate-form"
  >
    <legend *ngIf="data.intent =='add'"><h1>Add candidate to internship</h1></legend>
    <legend *ngIf="data.intent =='update'"><h1>Update candidate in internship</h1></legend>
    <br />
    <mat-form-field appearance="outline">
      <mat-label> Name</mat-label>
      <input formControlName="name" matInput type="text" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label> Surname</mat-label>
      <input formControlName="surname" matInput type="text" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label> Comment</mat-label>
      <input formControlName="comment" matInput />
    </mat-form-field>
    <br />
    <br />
    <input (change)="onFileSelected($event)" class="file-input" type="file" />
    <br />
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let option of statusOptions" [value]="option.value">
          {{ option.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label> Email</mat-label>
      <input formControlName="email" matInput />
    </mat-form-field>
    <br />
    <ng-container *ngIf="candidateStatusError">
      <h4 class="error-message">{{ validationErrors }}</h4>
    </ng-container>
    <br />
    <div class="buttons-holder">
    <button
      (click)="closeModal()"
      color="warn"
      mat-raised-button
    >
      Cancel
    </button>
    <button
      [disabled]="!candidateForm.valid"
      color="primary"
      mat-raised-button
      type="submit"
    >
      Submit
    </button>
    </div>
  </form>
</mat-dialog-content>
