.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 400px;
  max-width: 600px;
}

mat-form-field {
  width: 250px;
}

/*button {*/
/*  margin: 0px;*/
/*  position: absolute;*/
/*  left: 46%;*/
/*}*/

.error-message {
  color: red;
  font-weight: bold;
}

.buttons-holder{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.full-width-dialog .mat-dialog-container {
  max-width: 100vw !important;
}
