<div class="container">
  <div
    (mouseenter)="mouseOverCardAction(internshipCard)"
    *ngFor="let internshipCard of internships; let i = index"
    class="card"
  >
    <div>
      <br />
      <h3 class="title">{{ internshipCard.projectName }}</h3>
      <div *ngIf="activeCardId === internshipCard.id" class="requirements">
        <span
          >{{ internshipCard.periodFrom | date }} -
          {{ internshipCard.periodTo | date }}
        </span>
        <br />
        <mat-chip-list aria-label="Status">
          <mat-chip
            [ngClass]="{
              orangeBtnColor: internshipCard.internshipStatus === status.NEW,
              yellowBtnColor:
                internshipCard.internshipStatus === status.INTERVIEWING,
              greenBtnColor:
                internshipCard.internshipStatus === status.IN_PROGRESS,
              redBtnColor: internshipCard.internshipStatus === status.DONE
            }"
            >{{ internshipCard.internshipStatus }}
          </mat-chip>
        </mat-chip-list>
        <br />

        <a [href]="internshipCard.gitHubUrl">
          <i class="fa fa-github fa-3x"></i>
        </a>
        <a [href]="internshipCard.deployedAppUrl"
          ><i class="fa fa-cloud fa-3x"></i
        ></a>
        <br />
        <div class="flex-container">
          <div>
            <span *ngIf="internshipCard.mentorsId">Mentors: <br /></span>
            <div *ngFor="let mentor of internshipCard.mentorsId">
              {{ mentorNameFromArray(mentor) }}
            </div>
          </div>
          <div>
            <span *ngIf="allCandidatesByInternship">Candidates: <br /></span>
            <div
              *ngFor="let candidateByInternship of allCandidatesByInternship"
            >
              {{
                candidateByInternship.name + " " + candidateByInternship.surname
              }}
            </div>
          </div>
        </div>
      </div>
      <div class="circle">
        <img
          id="rounded-img"
          src="assets/img/{{ internshipCard.category }}.png"
        />
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
  </div>
</div>
