<div class="container">
  <div
    (mouseenter)="mouseOverCardAction(internshipCard)"
    *ngFor="let internshipCard of internships; let i = index"
    class="card"
  >
    <div>
      <h3 class="title">{{ internshipCard.projectName }}</h3>
      <div *ngIf="activeCardId === internshipCard.id" class="requirements">
         <span>Period: {{internshipCard.periodFrom | date}} -
           {{internshipCard.periodTo | date}} </span>
        <br/>
        <span> status:  {{getStatusObject(internshipCard.internshipStatus) }}</span>
        <br/>
        <a [href]="internshipCard.gitHubUrl"> <i class="fa fa-github fa-3x"></i> </a>
        <br/>
        <a [href]="internshipCard.deployedAppUrl"><i class="fa fa-cloud fa-3x"></i></a>
        <br/>
        <span *ngIf="internshipCard.mentorsId.length">Mentors: <br/></span>
        <div *ngFor="let mentor of internshipCard.mentorsId">
          {{mentorNameFromArray(mentor)}}
        </div>
        <br/>
        <span *ngIf="allCandidatesByInternship.length">Candidates: <br/></span>
        <div *ngFor="let candidateByInternship of allCandidatesByInternship">
          {{ candidateByInternship.name + " " + candidateByInternship.surname }}
        </div>
      </div>
      <div class="circle">
        <img
          id="rounded-img"
          src="assets/img/{{ internshipCard.category }}.png"
        />
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50" />
        </svg>
      </div>
    </div>
  </div>
</div>



