<mat-tab-group>
  <mat-tab label="My feedback">
    <br>
    <div class="form-container">
      <form [formGroup]="feedbackForm" class="feedback-form">
        <legend *ngIf="this.feedbackForm.controls['id'].value === ''"><h1>Add feedback</h1></legend>
        <legend *ngIf="this.feedbackForm.controls['id'].value !== ''"><h1>Update feedback</h1></legend>
        <br />
        <mat-form-field appearance="outline" style="width: 401px">
          <mat-label> Feedback</mat-label>
          <textarea class="feedback-text-area" formControlName="feedback" matInput> </textarea>
        </mat-form-field>
        <br />

        <ng-container *ngIf="candidateStatusError">
          <h4 class="error-message">{{ validationErrors }}</h4>
        </ng-container>
        <div class="button-holder">
          <button
            (click)="deleteFeedback()"
            *ngIf="this.feedbackForm.controls['id'].value !== ''"
            color="warn"
            mat-raised-button
          >
            Delete
          </button>
          <button
            (click)="onSubmit()"
            [disabled]="!feedbackForm.valid"
            color="primary"
            mat-raised-button
          >
            Submit
          </button>
          <button
            (click)="save()"
            [disabled]="!feedbackForm.valid"
            color="primary"
            mat-raised-button
          >
            Save
          </button>
        </div>

      </form>
    </div>
  </mat-tab>
  <mat-tab label="Others feedback">
    <br>
    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

      <ng-container matColumnDef="userName">
        <th *matHeaderCellDef mat-header-cell> User name</th>
        <td *matCellDef="let element" mat-cell> {{element.userName}} </td>
      </ng-container>
      <!-- Position Column -->
      <ng-container matColumnDef="feedback">
        <th *matHeaderCellDef mat-header-cell> Feedback</th>
        <td *matCellDef="let element" mat-cell> {{element.feedback}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </mat-tab>
</mat-tab-group>

