<div class="form-container">
  <form [formGroup]="feedbackForm" class="feedback-form">
    <legend><h1>Add feedback to candidate</h1></legend>
    <br />
    <mat-form-field appearance="fill">
      <mat-label> Feedback</mat-label>
      <input formControlName="feedback" matInput type="text" />
    </mat-form-field>
    <br />


    <mat-form-field appearance="fill">
      <mat-label>Choose candidate:</mat-label>
      <mat-select  formControlName="forCandidate">
        <mat-option *ngFor="let option of candidatesOptions" [value]="option.value">
          {{option.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="candidateStatusError">
      <h4 class="error-message">{{ validationErrors }}</h4>
    </ng-container>
    <div class="button-holder">
      <button
        [disabled]="!feedbackForm.valid"
        color="primary"
        mat-raised-button
        (click)="onSubmit()"
      >
        Submit
      </button>
      <button
        [disabled]="!feedbackForm.valid"
        color="primary"
        mat-raised-button
        (click)="save()"
      >
        Save
      </button>
    </div>

  </form>
</div>
