<div class="table-holder">
  <button *ngIf="this.displayMode === 'byInternship'" (click)="addCandidateModal()" mat-raised-button >Add candidate</button>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef> Surname </th>
      <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="cv">
      <th mat-header-cell *matHeaderCellDef> CV </th>
      <td mat-cell *matCellDef="let element"> <button (click)="downloadCV(element.cv)" mat-button>
        <mat-icon>cloud_download</mat-icon>
      </button> </td>

    </ng-container>

    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef> Comment </th>
      <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
    </ng-container>

    <ng-container matColumnDef="feedback" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button (click)="showFeedbackModal(element)" mat-button> Feedback</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container  matColumnDef="internship">
      <th mat-header-cell *matHeaderCellDef> Internship </th>
      <td mat-cell *matCellDef="let element"> {{element.internship}} </td>
    </ng-container>

    <ng-container matColumnDef="mark">
      <th mat-header-cell *matHeaderCellDef> Mark </th>
      <td mat-cell *matCellDef="let element"> {{element.mark}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th class="w-action" mat-header-cell *matHeaderCellDef> Actions</th>
      <td class="w-action" mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="updateCandidateModal(element)" title="Edit Internship">
          <mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn" (click)="deleteCandidateModal(element)" title="Delete Internship">
          <mat-icon>delete</mat-icon></button>
        <button mat-icon-button color="warn" (click)="openMarksDialog(element.id)" title="Delete Internship">
          <mat-icon>school</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
