<mat-dialog-content class="table-holder">
  <button (click)="addCandidateModal()" mat-raised-button>Add candidate</button>
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell>Id</th>
      <td *matCellDef="let element" mat-cell>{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Name</th>
      <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th *matHeaderCellDef mat-header-cell>Surname</th>
      <td *matCellDef="let element" mat-cell>{{ element.surname }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-header-cell>Email</th>
      <td *matCellDef="let element" mat-cell>{{ element.email }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="cv">
      <th *matHeaderCellDef mat-header-cell>CV</th>
      <td *matCellDef="let element" mat-cell>{{ element.cv }}</td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <th *matHeaderCellDef mat-header-cell>Comment</th>
      <td *matCellDef="let element" mat-cell>{{ element.comment }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th *matHeaderCellDef mat-header-cell>Status</th>
      <td *matCellDef="let element" mat-cell>{{ element.status }}</td>
    </ng-container>

    <ng-container matColumnDef="internship">
      <th *matHeaderCellDef mat-header-cell>Internship</th>
      <td *matCellDef="let element" mat-cell>{{ element.internship }}</td>
    </ng-container>

    <ng-container matColumnDef="mark">
      <th *matHeaderCellDef mat-header-cell>Mark</th>
      <td *matCellDef="let element" mat-cell>{{ element.mark }}</td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let element" mat-cell>
        <button
          (click)="selectCandidate(element)"
          [matMenuTriggerFor]="menu"
          mat-button
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        0
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
</mat-dialog-content>

<mat-menu #menu="matMenu">
  <button (click)="updateCandidateModal()" mat-menu-item>Update</button>
  <button (click)="showFeedbackModal()" mat-menu-item>FeedBack</button>
  <button (click)="deleteCandidateModal()" mat-menu-item>Delete</button>
  <button (click)="openMarksDialog()" mat-menu-item>show marks</button>
</mat-menu>
