.table-holder {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  overflow-wrap: break-word;
}

.w-50 {
  width: 30px;
}

.mat-column-comment {
  padding: 10px 10px;
  max-width: 200px;
  white-space: normal;
  word-wrap: break-word;
}

.mat-stroked-button {
  border: none;
  margin-bottom: 10px;
}

td, th {
  /*width: 20%;*/
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
}
