<div class="table-holder">
  <button
    (click)="addCandidateModal()"
    *ngIf="this.displayMode === 'byInternship'"
    color="primary"
    mat-stroked-button
  >
    <mat-icon>add</mat-icon>
  </button>
  <button (click)="getInternshipResults(internship)" mat-stroked-button color="primary">
    <mat-icon>poll</mat-icon>
  </button>
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell>Id</th>
      <td *matCellDef="let element" mat-cell>{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Name</th>
      <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th *matHeaderCellDef mat-header-cell>Surname</th>
      <td *matCellDef="let element" mat-cell>{{ element.surname }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-header-cell>Email</th>
      <td *matCellDef="let element" mat-cell>{{ element.email }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="cv">
      <th *matHeaderCellDef mat-header-cell>CV</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="downloadCV(element.cv)" color="primary" mat-button>
          <mat-icon>cloud_download</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container class="w-30" matColumnDef="comment">
      <th *matHeaderCellDef mat-header-cell>Comment</th>
      <td *matCellDef="let element" class="w-30" mat-cell>
        {{ element.comment }}
      </td>
    </ng-container>

    <ng-container matColumnDef="feedback" stickyEnd>
      <th *matHeaderCellDef mat-header-cell>Feedback</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="showFeedbackModal(element)" mat-button>
          <mat-icon> feedback </mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th *matHeaderCellDef mat-header-cell>Status</th>
      <td *matCellDef="let element" mat-cell>{{ element.status }}</td>
    </ng-container>

    <ng-container matColumnDef="internship">
      <th *matHeaderCellDef mat-header-cell>Internship</th>
      <td *matCellDef="let element" mat-cell>{{ element.internship }}</td>
    </ng-container>

    <ng-container matColumnDef="mark">
      <th *matHeaderCellDef mat-header-cell>Mark</th>
      <td *matCellDef="let element" mat-cell>{{ element.mark }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef class="w-action" mat-header-cell>Actions</th>
      <td *matCellDef="let element" class="w-action" mat-cell>
        <button
          (click)="updateCandidateModal(element)"
          color="primary"
          mat-icon-button
          title="Edit candidate"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          (click)="deleteCandidateModal(element)"
          color="primary"
          mat-icon-button
          title="Delete candidate"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          (click)="openMarksDialog(element.id)"
          color="primary"
          mat-icon-button
          title="Marks"
        >
          <mat-icon>school</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
</div>
