<table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  mat-table
  multiTemplateDataRows
>
  <ng-container
    *ngFor="let column of columnsToDisplay"
    matColumnDef="{{ column }}"
  >
    <th *matHeaderCellDef mat-header-cell>
      Technical Question List
      <button (click)="addNewList()" color="primary" mat-stroked-button>
        <mat-icon>add</mat-icon>
      </button>
    </th>

    <td
      (click)="getTechQuestionsByTechQuestionListId(element.id)"
      *matCellDef="let element"
      mat-cell
    >
      {{ element[column] }}
      <tr>
        <button
          (click)="addNewTechQuestion(element)"
          color="primary"
          mat-stroked-button
        >
          <mat-icon>add</mat-icon>
        </button>
        <button
          (click)="updateQuestionList(element)"
          color="primary"
          mat-stroked-button
        >
          <mat-icon>create</mat-icon>
        </button>
        <button
          (click)="deteleQuestionListById(element.id)"
          color="primary"
          mat-stroked-button
        >
          <mat-icon>delete</mat-icon>
        </button>
      </tr>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplay.length"
      mat-cell
    >
      <div
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
        class="example-element-detail"
      >
        <div>
          <ul *ngFor="let question of techQuestions">
            <li>
              {{ question.name }}
              <tr>
                <button
                  (click)="updateTechQuestion(question)"
                  color="primary"
                  mat-stroked-button
                >
                  <mat-icon>create</mat-icon>
                </button>
                <button
                  (click)="deteleQuestionById(question.id)"
                  color="primary"
                  mat-stroked-button
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </tr>
            </li>
          </ul>
        </div>
      </div>

      <span class="example-element-description-attribution"> </span>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
  <tr
    (click)="expandedElement = expandedElement === element ? null : element"
    *matRowDef="let element; columns: columnsToDisplay"
    [class.example-expanded-row]="expandedElement === element"
    class="example-element-row"
    mat-row
  ></tr>
  <tr
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"
    mat-row
  ></tr>
</table>
