<!--<div class="container">-->
<!--  <h1 class="text-xs-center">Sign up</h1>-->
<!--  <form [formGroup]="form" (ngSubmit)="onSubmit()">-->
<!--    <a [routerLink]="['/login']">Have an account?</a>-->
<!--    <br>-->
<!--    <br>-->
<!--    <label>-->
<!--      <p class="label-txt">Username</p>-->
<!--      <input type="text" class="input" formControlName="username">-->
<!--      <div class="line-box">-->
<!--        <div class="line"></div>-->
<!--      </div>-->
<!--    </label>-->
<!--    <label>-->
<!--      <p class="label-txt">Email</p>-->
<!--      <input type="text" class="input" formControlName="email">-->
<!--      <div class="line-box">-->
<!--        <div class="line"></div>-->
<!--      </div>-->
<!--    </label>-->
<!--    <label>-->
<!--      <p class="label-txt">Password</p>-->
<!--      <input type="password" class="input" formControlName="password1">-->
<!--      <div class="line-box">-->
<!--        <div class="line"></div>-->
<!--      </div>-->
<!--    </label>-->
<!--    <button type="submit" (click)="onSubmit" [disabled]="loading">Sign up</button>-->
<!--  </form>-->

<!--</div>-->
