.controles-container {
  width: 100%;
  padding: 5%;
}

.controles-container > * {
  width: 100%;
}

.mat-grid-tile-content {
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  display: block;
}
