<br>
<br>
<br>
<div class="container">
  <div class="border">
    <button (click)="openDialog()" mat-stroked-button>
      <mat-icon>add</mat-icon>
      New Internship
    </button>
  </div>
  <mat-form-field appearance="outline">
    <mat-label> Filter</mat-label>
    <input #input (keyup)="applyFilter($event)" matInput placeholder="Ex. Upcoming Internship" />
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table [dataSource]="dataSource" mat-table matSort>

      <!-- No Column -->
      <ng-container matColumnDef="position">
        <th *matHeaderCellDef class="w-1" mat-header-cell mat-sort-header="position"> No</th>
        <td *matCellDef="let row; let i = index" class="w-1" mat-cell> {{i + 1}}</td>
      </ng-container>

      <!-- Project Name Column -->
      <ng-container matColumnDef="projectName">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="projectName"> Project Name</th>
        <td *matCellDef="let row" mat-cell> {{row.projectName}}</td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Category</th>
        <td *matCellDef="let row" mat-cell> {{row.category}} </td>
      </ng-container>

      <!-- Mentors Column -->
      <ng-container matColumnDef="mentorsId">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Mentors</th>
        <td *matCellDef="let row" mat-cell> {{row.mentorsId}} </td>
      </ng-container>

      <!-- Period from Column -->
      <ng-container matColumnDef="periodFrom">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Period from</th>
        <td *matCellDef="let row" mat-cell> {{row.periodFrom}} </td>
      </ng-container>

      <!-- Period to Column -->
      <ng-container matColumnDef="periodTo">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Period to</th>
        <td *matCellDef="let row" mat-cell> {{row.periodTo}} </td>
      </ng-container>

      <!-- Status Column-->
      <ng-container matColumnDef="internshipStatus">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Status</th>
        <td *matCellDef="let row" mat-cell> {{row.internshipStatus}} </td>
      </ng-container>

      <!-- Link to GitHub repository Column -->
      <ng-container matColumnDef="gitHubUrl">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Link to GitHub repository</th>
        <td *matCellDef="let row " mat-cell><a href="{{row.gitHubUrl}}">GitHub</a></td>
      </ng-container>

      <!-- Link to Trello board Column -->
      <ng-container matColumnDef="trelloBoardUrl">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Link to Trello board</th>
        <td *matCellDef="let row" mat-cell><a href="{{row.trelloBoardUrl}}">Trello</a></td>
      </ng-container>

      <!-- Link to the deployed app Column -->
      <ng-container matColumnDef="deployedAppUrl">
        <th *matHeaderCellDef mat-header-cell mat-sort-header=""> Link to the deployed app</th>
        <td *matCellDef="let row" mat-cell><a href="{{row.deployedAppUrl}}">Deployed App</a></td>
      </ng-container>

      <!-- PowerPoint presentation Column -->
      <ng-container matColumnDef="presentationUrl">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> PowerPoint presentation</th>
        <td *matCellDef="let row" mat-cell><a href="{{row.presentationUrl}}">Presentation</a></td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef class="w-action" mat-header-cell> Actions</th>
        <td *matCellDef="let row" class="w-action" mat-cell>
          <button (click)="editInternship(row)" color="accent" mat-icon-button title="Edit Internship">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deleteInternship(row)" color="warn" mat-icon-button title="Delete Internship">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

      <!-- Row shown when there is no matching data. -->
      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[1, 5, 10, 20]"
                   aria-label="Select page of periodic elements"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <legend><h1>New internship</h1></legend>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="" class="candidate-form">


      <div class="border text-center">
        <button class="btn btn-info" data-dismiss="modal">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="modal.close('Cancel click')" class="btn btn-outline-dark" type="button">Cancel</button>
  </div>
</ng-template>



