<br>
<br>
<br>
<div class="container">
  <div class="border">
    <button mat-stroked-button (click)="addInternship()">
      <mat-icon>add</mat-icon>
      New Internship
    </button>
    <mat-checkbox [(ngModel)]="myInternships" (change)="filterLoggedUserInternships(myInternships)">My Internships
    </mat-checkbox>
    <mat-form-field appearance="outline">
      <mat-label> Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Upcoming Internship" #input/>
    </mat-form-field>
  </div>

  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="periodFrom" matSortDirection="desc">

      <!-- No Column -->
      <ng-container matColumnDef="position">
        <th class="w-5" mat-header-cell *matHeaderCellDef mat-sort-header="position"> No</th>
        <td class="w-5" mat-cell *matCellDef="let row; let i = index"> {{i + 1}}</td>
      </ng-container>

      <!-- Project Name Column -->
      <ng-container matColumnDef="projectName">
        <th class="w-50" mat-header-cell *matHeaderCellDef mat-sort-header="projectName"> Project Name</th>
        <td class="w-50" mat-cell *matCellDef="let row"> {{row.projectName}}</td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category</th>
        <td mat-cell *matCellDef="let row"> {{getCategoryObject(row.category).value}} </td>
      </ng-container>

      <!-- Mentors Column -->
      <ng-container matColumnDef="mentorsId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mentors</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.length > 0">
            <ng-container *ngFor="let mentorId of row.mentorsId; last as isLast">
              {{getMentorById(mentorId).name + " " + getMentorById(mentorId).surname}}
              <ng-container *ngIf="!isLast">,</ng-container>
              <br>
            </ng-container>
          </ng-container>
        </td>
      </ng-container>

      <!-- Period from Column -->
      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Period</th>
        <td mat-cell *matCellDef="let row"><span>{{row.periodFrom | date}} - </span>
          <br>
          <span>{{row.periodTo | date}}</span></td>
      </ng-container>

      <!-- Status Column-->
      <ng-container matColumnDef="internshipStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
        <td mat-cell *matCellDef="let row"> {{getStatusObject(row.internshipStatus).value}} </td>
      </ng-container>

      <!-- Cantidate Column-->
      <ng-container matColumnDef="candidates">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Candidates</th>
        <td mat-cell *matCellDef="let row">
          <!--      TODO - to change endpoint to candidates selected by internship id -->
          <a mat-stroked-button [routerLink]="['/internship/'+ row.id + '/candidates']">Candidates</a>
        </td>
      </ng-container>
      <!-- Results Column-->
      <ng-container matColumnDef="results">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Results</th>
        <td mat-cell *matCellDef="let row">
          <button mat-stroked-button (click)="getInternshipResults(row)"> Results</button>
        </td>
      </ng-container>

      <!-- PowerPoint presentation Column -->
      <ng-container matColumnDef="presentationUrl">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Presentation</th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button (click)="openPresentation()">Open</button>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th class="w-action" mat-header-cell *matHeaderCellDef> Actions</th>
        <td class="w-action" mat-cell *matCellDef="let row">
          <button mat-icon-button color="accent" (click)="editInternship(row)" title="Edit Internship">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteInternship(row.id)" title="Delete Internship">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="links">
        <th class="w-action" mat-header-cell *matHeaderCellDef> Links</th>
        <td class="w-action" mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu"
                  [matMenuTriggerData]="{element: row}">
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>


<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-aliasMenuItems="element">
    <div *ngIf="aliasMenuItems.gitHubUrl" mat-menu-item>
      <a href="{{aliasMenuItems.gitHubUrl}}" target="_blank">GitHub</a>
    </div>
    <div *ngIf="aliasMenuItems.trelloBoardUrl" mat-menu-item>
      <a href="{{aliasMenuItems.trelloBoardUrl}}" target="_blank">Trello</a>
    </div>
    <div *ngIf="aliasMenuItems.deployedAppUrl" mat-menu-item>
      <a href="{{aliasMenuItems.deployedAppUrl}}" target="_blank">Deployed App</a>
    </div>
  </ng-template>
</mat-menu>

